.container {
    height: 200px;
    width: 200px;
    position: absolute;
    margin: 35px;
}

.square {
    height: 94%;
    width: 94%;
    background: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -47%;
}

.black {
    background: rgb(28, 148, 199);
    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}